:root {
    --main-font-color: #242d2d;
    --main-bg-color: #C1FEFC;
    --body-color: #d9fffe; /* middle gradient color */
    --back-body-color: #d9f8f7;
    --second-bg-color: #DCF7E6;
    --border-color:  #F7FEFD;
    --box-shadow: #C1FEFC;
    --gradient--1: linear-gradient(to bottom right, var(--main-bg-color) 0% , var(--body-color)20%, var(--body-color)80%, var(--second-bg-color) 100% );
    --gradient--2: linear-gradient(to bottom right, var(--second-bg-color) 0%, var(--body-color)20% , var(--body-color)80%, var(--main-bg-color) 100%);
    font-family: 'Roboto';
}

/* Reset some default styles and set the base font and color */
body {
    margin: 0;
    padding: 0;
    background-color: var(--back-body-color);
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--main-font-color);
}

/* Style for the header element */
header {
    background-size: cover;
    background-position: center;
    height: auto;
    text-align: center;
    color: var(--main-bg-color);
    padding: 5px;
    background-image: var(--gradient--1);
}

#about,  #portfolio{
    background-image: var(--gradient--1);
}
 #services, #landing, #contact {
    background-image: var(--gradient--2);
}
/* Styles for the main content area */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    padding: 20px; /* Add some padding for spacing */
}

/* Add border to all sections */
section {
    border: 1px solid var(--border-color); /* Example border style */
    margin: 50px;
    padding: 20px; /* Optional: Add padding inside the border */
    width: 80%;
}



/* Style for the footer */
footer {
    background-image: var(--gradient--1);
    text-align: center;
    padding: 0.5rem;
}

/* Style for buttons */
button {
    padding: 5px 10px;
    font-size: 23px;
    font-family: 'Roboto';
    width: 60%;
    border-radius: 8px;
    transition-duration: 0.4s;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    color: var(--main-font-color);
}

button:hover {
    background-color: rgba(180, 248, 241, 0.25);
    color: white;
}

/* style for icon */
.icon {
    padding-top: 10px;
    width: 32px;
    height: 32px;
}

/* Styles for the contact form */
#contactForm {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Roboto';
}

#contactForm.textarea {
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    font-family: 'Roboto';
    border: 1px solid var(--border-color);
    border-radius: 8px; 
    font-size: 24px;
}

/* Styles for boxes */
.box {
    flex: 1;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    box-shadow: 0 4px 8px var(--box-shadow);
    max-width: 300px;
    margin: 10px;
}

.boxes {
    /* align boxes in a row horizontally */
    display: flex;
    flex-wrap: wrap; /* Allow boxes to wrap to the next line */
    justify-content: center; /* Center boxes horizontally */
}

/* scroll to top button */
.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    text-decoration: none;
    color: var(--main-font-color);
}