:root {
    --main-font-color: #804225f9;
    --main-bg-color: #b4f8f1;
    --second-bg-color: #babcb7e9;
}

/* Reset some default styles and set the base font and color */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
}

/* Define the overall layout as a flex column */
body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, var(--main-bg-color), var(--second-bg-color));
}

/* Style for the header element */
header {
    background-size: cover;
    background-position: center;
    height: auto;
    text-align: center;
    color: var(--main-bg-color);
    padding: 20px;
    background-image: linear-gradient(to bottom right, var(--main-bg-color), var(--second-bg-color));
}

/* Common styles for various text elements */
.title, .subtitle {
    text-align: center;
    margin: 0;
    padding: 5px;
}

/* Styles for the main content area */
main {
    background-image: linear-gradient(to bottom right, var(--second-bg-color), var(--main-bg-color));
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    padding: 20px; /* Add some padding for spacing */
}

/* Style for the footer */
footer {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    text-align: center;
    padding: 0.5rem;
}

/* Style for buttons (button and elements with class button) */
button {
    padding: 5px 10px;
    font-size: 23px;
    width: 60%;
    border-radius: 8px;
    transition-duration: 0.4s;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    color: var(--main-font-color);
}

button:hover {
    background-color: var(--main-bg-color);
    color: white;
}

/* Leave the .icon class as is */
.icon {
    padding-top: 10px;
    width: 32px;
    height: 32px;
}

.aboutContainer, .servicesContainer, .landingContainer, .portfolioContainer, .contactContainer {
    color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 100px; /* Adjusted padding shorthand */
    text-align: center; /* Center align text */
}

.landingContainer h1, .aboutContainer h2, .servicesContainer h2, .portfolioContainer h2, .contactContainer h2 {
    font-size: 2rem; /* Example heading font size */
    margin: 10px 0;
}

.landingContainer p, .aboutContainer p, .servicesContainer p, .portfolioContainer p, .contactContainer form {
    font-size: 1rem; /* Example paragraph font size */
    margin: 10px 0;
}

.landingText {
    color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 100px; /* Adjusted padding shorthand */
}


#contactForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

#contactForm label {
    margin-top: 10px;
    font-weight: bold;
}

#contactForm input, 
#contactForm textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

