:root {
    --main-font-color: #804225f9;
    --main-bg-color: #b4f8f1;
    --second-bg-color: #babcb7e9;
    --border-color:  #ddd;
    font-family: 'Roboto';
}

/* Reset some default styles and set the base font and color */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
}

/* Style for the header element */
header {
    background-size: cover;
    background-position: center;
    height: auto;
    text-align: center;
    color: var(--main-bg-color);
    padding: 5px;
    background-image: linear-gradient(to bottom right, var(--main-bg-color), var(--second-bg-color));
}

#about,  #portfolio{
    background-image: linear-gradient(to bottom right, var(--main-bg-color), var(--second-bg-color));
}
 #services, #landing, #contact {
    background-image: linear-gradient(to bottom right, var(--second-bg-color), var(--main-bg-color));
}
/* Styles for the main content area */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    padding: 20px; /* Add some padding for spacing */
}

/* Add border to all sections */
section {
    border: 1px solid var(--border-color); /* Example border style */
    padding: 20px; /* Optional: Add padding inside the border */
    margin-bottom: 20px; /* Optional: Add space between sections */
}


/* Style for the footer */
footer {
    background-image: linear-gradient(to bottom right, var(--main-bg-color), var(--second-bg-color));
    text-align: center;
    padding: 0.5rem;
}

/* Style for buttons */
button {
    padding: 5px 10px;
    font-size: 23px;
    font-family: 'Roboto';
    width: 60%;
    border-radius: 8px;
    transition-duration: 0.4s;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    color: var(--main-font-color);
}

button:hover {
    background-color: rgba(180, 248, 241, 0.25);
    color: white;
}

/* style for icon */
.icon {
    padding-top: 10px;
    width: 32px;
    height: 32px;
}

#about, #services, #landing, #portfolio, #contact {
    color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 100px; 
    text-align: center; 
    width:auto;
}


/* Styles for the contact form */
#contactForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    font-family: 'Roboto';
}

#contactForm.textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    font-family: 'Roboto';
    border: 1px solid var(--border-color);
    border-radius: 8px; /* Added border-radius to match buttons */
}

/* Styles for boxes */
.box {
    flex: 1;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 300px;
    margin: 10px;
}

.boxes {
    /* aligh boxes in a row horizontally */
    display: flex;
}

/* scroll to top button */
.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    text-decoration: none;
    color: var(--main-font-color);
}

/* 
@keyframes slideIn {
    0% {
        transform: translateX(-100px);
        opacity: 0;
        visibility: hidden;
    }
    1% {
        visibility: visible; 
    }
    100% {
        transform: translateX(0); 
        opacity: 1; 
        visibility: visible;
    }
}


p, h1, h2, h3, h4, h5, h6, ul, ol, li, a, img, button, .box{
    animation: slideIn 1.25s ease-out forwards; 
    animation-delay: 2.25s;
    visibility: hidden;

*/