---
---
<header class="flex items-center justify-between p-4">
  <a href="/">
    <img src="/image/7risten.svg" alt="Logo" width="103" height="124.8" />
  </a>
  <nav class="flex gap-4">
    <a id="about-link" href="/#about" class="hover:underline">About</a>
    <a id="portfolio-link" href="/portfolio" class="hover:underline">Portfolio</a>
    <a id="contact-link" class="button bg-[var(--button-color)] px-4 py-2 rounded" href="/#contact">Contact</a>
  </nav>
</header>
