{{ define "main" }}
<section id="landing" class="hidden">
    <div class="text-content">
        <h2>Delicious Design.<br>Decadent Development.</h2>
        <h3>Tristen MacPherson</h3>
        <a id="contact-link" class="button" href="{{ "/" | relURL }}#contact">Contact</a>
    </div>
</section>

<!-- About -->
<section id="about" class="hidden">
    <h1>About</h1>
    <div id="image-container">
    </div>
    <p>
        I'm a game developer and sound designer with a passion for creating unforgettable digital experiences.<br>
        I excel in blending creative storytelling with cutting-edge technology to bring immersive worlds to life.<br>
        My expertise spans game development, audio design, and web development, allowing me to craft unique experiences.<br>
    </p>
    
    <div class="boxes">
        <div class="box hidden">
            <h2>Who Am I</h2>
            <p>Game Developer, & Audio Designer.</p>
            <img src="/image/desktop.svg" alt="desktop" width="auto" height="auto">

        </div>
        <div class="box hidden">
            <h2>What I Do</h2>
            <p>Create magical experiences, & mesmerizing sounds</p>
            <img src="/image/tablet.svg" alt="tablet" width="auto" height="auto">

        </div>
        <div class="box hidden">
            <h2>Why I Do It</h2>
            <p>Creating transfixing artifacts is my passion.</p>
            <img src="/image/phone.svg" alt="phone" width="auto" height="auto">

        </div>
    </div>
    <div class="boxes">
        <div class="box">
            <img src="image/portfolio.png" alt="Tristen MacPherson Headshot" width="150" height="150">
<p>I'm dedicated to excellence, and pride myself on my meticulous attention to detail. My guiding principles are <strong>Transparency</strong>, <strong>Creativity</strong>, and <strong>Integrity</strong>.</p>
            <a href="https://www.linkedin.com/in/tristen-macpherson-15042029b" target="_blank">
                <img src="image/linkedin.png" alt="LinkedIn" width="24" height="24">
            </a>
            <a href="https://github.com/TmacP/" target="_blank">
                <img src="image/github.svg" alt="GitHub" width="24" height="24">
            </a>
        </div>
    </div>
</section>

<!-- Services --> 

<!-- Contact -->
<section id="contact" class="hidden">
    <div class="contact-container">
        <div class="contact-text">
            <h1>Contact</h1>
            <h3>Email</h3>
            <p>service@7risten.ca</p>
            <h3>Discord</h3>
            <p>tr1st3n</p>
        </div>
    
</section>

<a class="scrollToTop" href="#top">↑</a>
{{ end }}
